[submodule "compunaut_openvpn"]
	path = compunaut_openvpn
	url = https://github.com/compunautics/compunaut_openvpn.git
[submodule "compunaut_top"]
	path = compunaut_top
	url = https://github.com/compunautics/compunaut_top.git
[submodule "compunaut_salt"]
	path = compunaut_salt
	url = https://github.com/compunautics/compunaut_salt.git
[submodule "compunaut_keepalived"]
	path = compunaut_keepalived
	url = https://github.com/compunautics/compunaut_keepalived.git
[submodule "compunaut_hypervisor"]
	path = compunaut_hypervisor
	url = https://github.com/compunautics/compunaut_hypervisor.git
[submodule "compunaut_default"]
	path = compunaut_default
	url = https://github.com/compunautics/compunaut_default.git
[submodule "compunaut_dnsmasq"]
	path = compunaut_dnsmasq
	url = https://github.com/compunautics/compunaut_dnsmasq.git
[submodule "compunaut_consul"]
	path = compunaut_consul
	url = https://github.com/compunautics/compunaut_consul.git
[submodule "compunaut_mysql"]
	path = compunaut_mysql
	url = https://github.com/compunautics/compunaut_mysql.git
[submodule "mysql-formula"]
	path = mysql-formula
	url = https://github.com/compunautics/mysql-formula.git
[submodule "openvpn-formula"]
	path = openvpn-formula
	url = https://github.com/saltstack-formulas/openvpn-formula.git
[submodule "dnsmasq-formula"]
	path = dnsmasq-formula
	url = https://github.com/saltstack-formulas/dnsmasq-formula.git
[submodule "resolver-formula"]
	path = resolver-formula
	url = https://github.com/saltstack-formulas/resolver-formula.git
[submodule "consul-formula"]
	path = consul-formula
	url = https://github.com/saltstack-formulas/consul-formula.git
[submodule "keepalived-formula"]
	path = keepalived-formula
	url = https://github.com/saltstack-formulas/keepalived-formula.git
[submodule "haproxy-formula"]
	path = haproxy-formula
	url = https://github.com/saltstack-formulas/haproxy-formula.git
[submodule "compunaut_haproxy"]
	path = compunaut_haproxy
	url = https://github.com/compunautics/compunaut_haproxy.git
[submodule "rsyslog-formula"]
	path = rsyslog-formula
	url = https://github.com/saltstack-formulas/rsyslog-formula.git
[submodule "compunaut_influxdb"]
	path = compunaut_influxdb
	url = https://github.com/compunautics/compunaut_influxdb.git
[submodule "iptables-formula"]
	path = iptables-formula
	url = https://github.com/saltstack-formulas/iptables-formula.git
[submodule "compunaut_iptables"]
	path = compunaut_iptables
	url = https://github.com/compunautics/compunaut_iptables.git
[submodule "telegraf-formula"]
	path = telegraf-formula
	url = https://github.com/compunautics/telegraf-formula.git
[submodule "compunaut_telegraf"]
	path = compunaut_telegraf
	url = https://github.com/compunautics/compunaut_telegraf.git
[submodule "grafana-formula"]
	path = grafana-formula
	url = https://github.com/compunautics/grafana-formula.git
[submodule "compunaut_grafana"]
	path = compunaut_grafana
	url = https://github.com/compunautics/compunaut_grafana.git
[submodule "openldap-formula"]
	path = openldap-formula
	url = https://github.com/saltstack-formulas/openldap-formula.git
[submodule "compunaut_openldap"]
	path = compunaut_openldap
	url = https://github.com/compunautics/compunaut_openldap.git
[submodule "compunaut_sssd"]
	path = compunaut_sssd
	url = https://github.com/compunautics/compunaut_sssd.git
[submodule "sssd-formula"]
	path = sssd-formula
	url = https://github.com/compunautics/sssd-formula.git
[submodule "pam-formula"]
	path = pam-formula
	url = https://github.com/saltstack-formulas/pam-formula.git
[submodule "gitlab-formula"]
	path = gitlab-formula
	url = https://github.com/saltstack-formulas/gitlab-formula.git
[submodule "compunaut_gitlab"]
	path = compunaut_gitlab
	url = https://github.com/compunautics/compunaut_gitlab.git
