[submodule "compunaut_openvpn"]
	path = compunaut_openvpn
	url = https://github.com/compunautics/compunaut_openvpn.git
[submodule "compunaut_top"]
	path = compunaut_top
	url = https://github.com/compunautics/compunaut_top.git
[submodule "compunaut_salt"]
	path = compunaut_salt
	url = https://github.com/compunautics/compunaut_salt.git
[submodule "compunaut_keepalived"]
	path = compunaut_keepalived
	url = https://github.com/compunautics/compunaut_keepalived.git
[submodule "compunaut_hypervisor"]
	path = compunaut_hypervisor
	url = https://github.com/compunautics/compunaut_hypervisor.git
[submodule "compunaut_default"]
	path = compunaut_default
	url = https://github.com/compunautics/compunaut_default.git
[submodule "compunaut_dnsmasq"]
	path = compunaut_dnsmasq
	url = https://github.com/compunautics/compunaut_dnsmasq.git
[submodule "compunaut_consul"]
	path = compunaut_consul
	url = https://github.com/compunautics/compunaut_consul.git
[submodule "compunaut_mysql"]
	path = compunaut_mysql
	url = https://github.com/compunautics/compunaut_mysql.git
[submodule "mysql-formula"]
	path = mysql-formula
	url = https://github.com/compunautics/mysql-formula.git
[submodule "openvpn-formula"]
	path = openvpn-formula
	url = https://github.com/saltstack-formulas/openvpn-formula.git
[submodule "dnsmasq-formula"]
	path = dnsmasq-formula
	url = https://github.com/saltstack-formulas/dnsmasq-formula.git
[submodule "resolver-formula"]
	path = resolver-formula
	url = https://github.com/saltstack-formulas/resolver-formula.git
[submodule "consul-formula"]
	path = consul-formula
	url = https://github.com/saltstack-formulas/consul-formula.git
[submodule "keepalived-formula"]
	path = keepalived-formula
	url = https://github.com/saltstack-formulas/keepalived-formula.git
[submodule "haproxy-formula"]
	path = haproxy-formula
	url = https://github.com/saltstack-formulas/haproxy-formula.git
[submodule "compunaut_haproxy"]
	path = compunaut_haproxy
	url = https://github.com/compunautics/compunaut_haproxy.git
[submodule "rsyslog-formula"]
	path = rsyslog-formula
	url = https://github.com/saltstack-formulas/rsyslog-formula.git
[submodule "compunaut_influxdb"]
	path = compunaut_influxdb
	url = https://github.com/compunautics/compunaut_influxdb.git
[submodule "influxdb-formula"]
	path = influxdb-formula
	url = https://github.com/saltstack-formulas/influxdb-formula.git
