[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/netboot/Desktop/PiServer.desktop]
row=0
col=0

[/home/netboot/Desktop/compunaut-raspi.tar.xz]
row=0
col=1

[Trash]
row=5
col=2

[/]
row=5
col=0

[/home/netboot]
row=5
col=1
